.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: #383833;
    font-size: 46px;
    font-weight: 400px;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #252522;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 8px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border:1px solid #ebebeb;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 25px;
    color: #1a1a1a;
    font-size: 18px;
}

.footer-copyright hr{
    width: 70%;
    border: none;
    border-radius:8px;
    height: 2px;
    background: #c7c7c7;

}